@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

/* style reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  /* spot */

  --Spot-500-blue: hsl(219 99.1% 54.7%);
  --Spot-500-purple: hsl(249 54.4% 57.8%);
  --Spot-500-green: hsl(126 64.8% 41.2%);
  --Spot-500-red: hsl(0.27 100% 57.1%);
  --Spot-500-yellow: hsl(34.4 85% 55.7%);
  --Spot-500-pink: hsl(331 99% 58.8%);
  --Spot-500-Orange: hsl(14.4 100% 50%);

  /* text */

  --Heading-01: hsl(0, 0%, 0%);
  --Heading-02: hsl(0 0% 7%);
  --Heading-03: hsl(0 0% 7%);
  --Heading-04: hsl(0 0% 12.2%);
  --Heading-05: hsl(0 0% 17.6%);
  --Heading-06: hsl(0 0% 23.5%);
  --Title: hsl(0 0% 7%);
  --Sub-heading: hsl(0 0% 17.6%);
  --Body: hsl(0 0% 35.3%);
  --Caption-01: hsl(0 0% 46.7%);
  --Caption-02: hsl(0 0% 58.4%);
  --Mute: hsl(0 0% 58.4%);
  --Disabled: hsl(0 0% 83.5%);
  --On-Color: hsl(0 0% 100%);
  --On-Color-Inverse: hsl(0 0% 0%);
  --Text-White: hsl(0 0% 100%);
  --Text-Black: hsl(0 0% 0%);

  /* button */

  --Btn-Primary: hsl(0 0% 0%);
  --Btn-Primary-Active: hsl(0 0% 12.2%);
  --Btn-Primary-Disabled: hsl(0 0% 83.5%);
  --Btn-Secondary: hsl(0 0% 91.8%);
  --Btn-Danger: hsl(0.27 100% 57.1%);
  --Btn-Primary-Text: hsl(0 0% 100%);
  --Btn-Secondary-Text: v hsl(0 0% 0%);
  --Btn-Danger-Text: hsl(0 0% 100%);
  --Btn-Disabled-Text: hsl(0 0% 58.4%);

  /* highlight */

  --Highlight-Green-50: hsl(128 47.1% 93.3%);
  --Highlight-Green-150: hsl(126 46.2% 81.8%);
  --Highlight-Green-500: hsl(126 64.8% 41.2%);
  --Highlight-Green-950: hsl(125 61.9% 4.12%);
  --Highlight-Red-50: hsl(0 100% 95.7%);
  --Highlight-Red-150: hsl(0.91 100% 87.1%);
  --Highlight-Red-500: hsl(0.27 100% 57.1%);
  --Highlight-Red-950: hsl(0 73.3% 5.88%);
  --Highlight-Pink-50: hsl(331 100% 95.9%);
  --Highlight-Pink-150: hsl(331 100% 87.6%);
  --Highlight-Pink-500: hsl(331 99% 58.8%);
  --Highlight-Pink-950: hsl(332 70.6% 6.67%);
  --Highlight-Purple-50: hsl(248, 53%, 92%);
  --Highlight-Purple-150: hsl(249 53.8% 87.3%);
  --Highlight-Purple-500: hsl(249 54.4% 57.8%);
  --Highlight-Purple-950: hsl(250 40% 5.88%);
  --Highlight-Yellow-50: hsl(33.8 86.7% 91.2%);
  --Highlight-Yellow-150: hsl(34.1 85.3% 86.7%);
  --Highlight-Yellow-500: hsl(34.4 85% 55.7%);
  --Highlight-Yellow-950: hsl(34.7 65.5% 5.69%);
  --Highlight-Blue-50: hsl(219 100% 91%);
  --Highlight-Blue-150: hsl(219 100% 86.5%);
  --Highlight-Blue-500: hsl(219 99.1% 54.7%);
  --Highlight-Blue-950: hsl(219 81% 16.5%);
  --Highlight-Orange-50: hsl(14.1 100% 90%);
  --Highlight-Orange-150: hsl(14.2 100% 85.1%);
  --Highlight-Orange-500: hsl(14.4 100% 50%);
  --Highlight-Orange-950: hsl(13.8 100% 5.1%);

  /* background */

  --Surface-Primary: hsl(0 0% 97.6%);
  --Surface-Secondary: hsl(0 0% 91.8%);
  --Foreground-Primary: hsl(0 0% 87.5%);
  --Foreground-Secondary: hsl(0 0% 83.5%);
  --Surface-Modal: hsl(0 0% 97.6%);
  --Overlay: hsl(0 0% 20% / 0.7);
  --Nav-Bar: hsla(0 0% 97.6%, 0.5);

  /* icon */

  --Icon-On-Color: hsl(0 0% 100%);
  --Icon-On-Color-Inverse: hsl(0 0% 0%);
  --Icon-White: hsl(0 0% 100%);
  --Icon-Black: hsl(0 0% 0%);
  --Icon-Nav-Active: hsl(0 0% 7%);
  --Icon-Nav-Inactive: hsl(0 0% 58.4%);
  --Icon-System: hsl(0 0% 17.6%);
  --Icon-Subtle: hsl(0 0% 35.3%);
  --Icon-Mute: hsl(0 0% 66.7%);
  --Icon-Disabled: hsl(0 0% 74.9%);
  --Handle: hsl(0 0% 66.7%);

  /* stroke */

  --Stroke-Soft: hsl(0 0% 87.5%);
  --Stroke-Mild: hsl(0 0% 83.5%);
  --Stroke-Subtle: hsl(0 0% 74.9%);
  --Stroke-Strong: hsl(0 0% 58.4%);
  --Stroke-Inverse: hsl(0, 0%, 0%);

  /* shadow */

  --Blue-Dark: hsl(219 81% 16.5%);
  --Red-Dark: hsl(0 75% 17.3%);
  --Green-Dark: hsl(126 65.1% 12.4%);
  --Orange-Dark: hsl(14 100% 15.1%);
  --Purple-Dark: hsl(249 39.3% 17.5%);
  --Yellow-Dark: hsl(34.7 67.1% 16.7%);
  --Pink-Dark: hsl(331 69.9% 18.2%);

  /* border radius */

  --Radius-XSM: 0.25rem;
  --Radius-SM: 0.375rem;
  --Radius-MD: 0.5rem;
  --Radius-L: 0.75rem;
  --Radius-XL: 1rem;
  --Radius-2XL: 1.5rem;
  --Radius-3XL: 2rem;
  --Radius-MAX: 4rem;

  /* spacing */

  --Spacing-0: 0rem;
  --Spacing-2: 0.125rem;
  --Spacing-4: 0.25rem;
  --Spacing-6: 0.375rem;
  --Spacing-8: 0.5rem;
  --Spacing-10: 0.625rem;
  --Spacing-12: 0.75rem;
  --Spacing-14: 0.875rem;
  --Spacing-16: 1rem;
  --Spacing-20: 1.25rem;
  --Spacing-24: 1.5rem;
  --Spacing-28: 1.75rem;
  --Spacing-32: 2rem;
  --Spacing-36: 2.25rem;
  --Spacing-40: 2.5rem;
  --Spacing-44: 2.75rem;
  --Spacing-48: 3rem;
  --Spacing-52: 3.25rem;
  --Spacing-56: 3.5rem;
  --Spacing-64: 4rem;
  --Spacing-80: 5rem;
  --Spacing-100: 6.25rem;
  --Spacing-120: 7.5rem;

  /* fonts */
  --font-family: "DM Mono", monospace;

  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 2rem; /* 32px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-light: 300;
}

[data-theme="dark"] {
  /* spot */
  --Spot-500-blue: hsl(219 99.1% 54.7%);
  --Spot-500-purple: hsl(249 54.4% 57.8%);
  --Spot-500-green: hsl(126 64.8% 41.2%);
  --Spot-500-red: hsl(0.27 100% 57.1%);
  --Spot-500-yellow: hsl(34.4 85% 55.7%);
  --Spot-500-pink: hsl(331 99% 58.8%);
  --Spot-500-Orange: hsl(14.4 100% 50%);

  /* text */
  --Heading-01: hsl(0 0% 100%);
  --Heading-02: hsl(0 0% 95.7%);
  --Heading-03: hsl(0 0% 95.7%);
  --Heading-04: hsl(0 0% 91.8%);
  --Heading-05: hsl(0 0% 91.8%);
  --Heading-06: hsl(0 0% 87.5%);
  --Title: hsl(0 0% 95.7%);
  --Sub-heading: hsl(0 0% 91.8%);
  --Body: hsl(0 0% 58.4%);
  --Caption-01: hsl(0 0% 46.7%);
  --Caption-02: vhsl(0 0% 35.3%);
  --Mute: hsl(0 0% 35.3%);
  --Disabled: hsl(0 0% 17.6%);
  --On-Color: hsl(0 0% 0%);
  --On-Color-Inverse: hsl(0 0% 100%);
  --Text-White: hsl(0 0% 100%);
  --Text-Black: hsl(0 0% 0%);
  --Btn-Primary: hsl(0 0% 100%);

  /* button */
  --Btn-Primary-Active: hsl(0 0% 87.5%);
  --Btn-Primary-Disabled: hsl(0 0% 23.5%);
  --Btn-Secondary: hsl(0 0% 12.2%);
  --Btn-Danger: hsl(0.27 100% 57.1%);
  --Btn-Primary-Text: hsl(0 0% 0%);
  --Btn-Secondary-Text: hsl(0 0% 100%);
  --Btn-Danger-Text: hsl(0 0% 100%);
  --Btn-Disabled-Text: hsl(0 0% 35.3%);

  /* highlight */
  --Highlight-Green-50: hsl(126 66.7% 8.24%);
  --Highlight-Green-150: hsl(126 64.3% 16.5%);
  --Highlight-Green-500: hsl(126 45.2% 52.7%);
  --Highlight-Green-950: hsl(126 46.2% 81.8%);
  --Highlight-Red-50: hsl(0 75.9% 11.4%);
  --Highlight-Red-150: hsl(0.68 75.9% 22.7%);
  --Highlight-Red-500: hsl(0.34 100% 65.7%);
  --Highlight-Red-950: hsl(0 100% 95.7%);
  --Highlight-Pink-50: hsl(332 70.6% 6.67%);
  --Highlight-Pink-150: hsl(331 70.5% 23.9%);
  --Highlight-Pink-500: hsl(331 98.8% 67.1%);
  --Highlight-Pink-950: hsl(331 100% 87.6%);
  --Highlight-Purple-50: hsl(248 39% 11.6%);
  --Highlight-Purple-150: hsl(248 39% 23.1%);
  --Highlight-Purple-500: hsl(249 54.4% 57.8%);
  --Highlight-Purple-950: hsl(249 53.8% 87.3%);
  --Highlight-Yellow-50: hsl(33.8 68.4% 11.2%);
  --Highlight-Yellow-150: hsl(34.3 68.1% 22.2%);
  --Highlight-Yellow-500: hsl(34.5 84.5% 64.5%);
  --Highlight-Yellow-950: hsl(34.1 85.3% 86.7%);
  --Highlight-Blue-50: hsl(219 82.1% 11%);
  --Highlight-Blue-150: hsl(219 82.1% 22%);
  --Highlight-Blue-500: hsl(219 99.1% 54.7%);
  --Highlight-Blue-950: hsl(219 100% 86.5%);
  --Highlight-Orange-50: hsl(14.1 100% 10%);
  --Highlight-Orange-150: hsl(14.1 100% 20%);
  --Highlight-Orange-500: hsl(14.4 100% 50%);
  --Highlight-Orange-950: hsl(14.2 100% 85.1%);

  /* background */

  --Surface-Primary: hsl(0 0% 5%);
  --Surface-Secondary: hsl(0 0% 12.2%);
  --Foreground-Primary: hsl(0 0% 17.6%);
  --Foreground-Secondary: hsl(0 0% 23.5%);
  --Surface-Modal: hsl(0 0% 7%);
  --Overlay: hsla(0, 0%, 20%, 0.698);
  --Nav-Bar: hsla(0 0% 5%, 0.5);

  /* icon */

  --Icon-On-Color: hsl(0 0% 0%);
  --Icon-On-Color-Inverse: hsl(0 0% 100%);
  --Icon-White: hsl(0 0% 100%);
  --Icon-Black: hsl(0 0% 0%);
  --Icon-Nav-Active: hsl(0 0% 95.7%);
  --Icon-Nav-Inactive: hsl(0 0% 58.4%);
  --Icon-System: hsl(0 0% 87.5%);
  --Icon-Subtle: hsl(0 0% 35.3%);
  --Icon-Mute: hsl(0 0% 35.3%);
  --Icon-Disabled: hsl(0 0% 23.5%);
  --Handle: hsl(0 0% 23.5%);

  /* Stroke */
  --Stroke-Soft: hsl(0 0% 17.6%);
  --Stroke-Mild: hsl(0 0% 23.5%);
  --Stroke-Subtle: hsl(0 0% 35.3%);
  --Stroke-Strong: hsl(0 0% 46.7%);
  --Stroke-Inverse: hsl(0 0% 100%);

  /* shadow */

  --Blue-Dark: hsl(219 82.1% 22%);
  --Red-Dark: hsl(0.68 75.9% 22.7%);
  --Green-Dark: hsl(126 64.3% 16.5%);
  --Orange-Dark: hsl(14.1 100% 20%);
  --Purple-Dark: hsl(248 39% 23.1%);
  --Yellow-Dark: hsl(34.3 68.1% 22.2%);
  --Pink-Dark: hsl(331 70.5% 23.9%);
}

/* general styling */

.hidden {
  display: none;
}

.primary-btn,
.secondary-btn {
  padding: var(--Spacing-16) var(--Spacing-24);
  transition: all 150ms ease-in-out;
  border-radius: var(--Radius-MAX);
  font-weight: var(--font-weight-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--Spacing-12);
  cursor: pointer;
  border: none;
}

.secondary-btn {
  color: var(--Btn-Secondary-Text);
  background-color: var(--Btn-Secondary);
  box-shadow: 2px 6px 0px 0px var(--Foreground-Secondary);
}

.secondary-btn:hover {
  background-color: var(--Foreground-Primary);
}

.secondary-btn:active {
  box-shadow: 0px 2px 0px 0px var(--Foreground-Secondary);
  scale: 0.95;
}

.primary-btn {
  color: var(--Btn-Primary-Text);
  background-color: var(--Spot-500-blue);
  box-shadow: 2px 6px 0px 0px var(--Blue-Dark);
}

.primary-btn:hover {
  opacity: 0.85;
}

.primary-btn:active {
  box-shadow: 0px 2px 0px 0px var(--Blue-Dark);
  scale: 0.95;
}

body {
  background-color: var(--Surface-Primary);
  font-family: var(--font-family);
  position: relative;
}

main,
.top-bar {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

header {
  padding: var(--Spacing-24) var(--Spacing-16);
  background-color: var(--Nav-Bar);
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  z-index: 10;
}

main {
  padding: var(--Spacing-16);
  margin: var(--Spacing-32) auto;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--Heading-01);
  display: inline-flex;
  align-items: center;
  gap: var(--Spacing-6);
}

.theme-btn {
  cursor: pointer;
  display: inline-flex;
  /* gap: var(--Spacing-8); */
  align-items: center;
  position: relative;
  width: 120px;
  background-color: var(--Foreground-Primary);
  border: 0.5px solid var(--Stroke-Mild);
  padding: var(--Spacing-2);
  border-radius: var(--Radius-MAX);
  transition: all 150ms ease-in-out;
}

.theme-btn:active {
  scale: 0.9;
}

.light-icon-wrapper,
.dark-icon-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--Spacing-6);
  z-index: 1;
}

.indicator {
  position: absolute;
  background: var(--Surface-Primary);
  width: calc(50% - 2px);
  height: 40px;
  top: 2px;
  border-radius: var(--Radius-MAX);
  left: 2px;
  transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.indicator.indicator-dark {
  left: 60px;
}

.light-fill-icon,
.dark-fill-icon {
  width: 28px;
  height: 28px;
  fill: var(--Icon-System);
}

.light-line-icon,
.dark-line-icon {
  width: 28px;
  height: 28px;
  fill: var(--Icon-Mute);
}

.start-content {
  margin-inline: auto;
}

h1 {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weight-medium);
  line-height: 58px;
  color: var(--Heading-01);
  text-align: center;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--Spacing-20);
  margin-top: var(--Spacing-32);
  margin-bottom: var(--Spacing-16);
}

.info-container span {
  width: 8px;
  height: 8px;
  background-color: var(--Icon-Subtle);
  border-radius: var(--Radius-MAX);
}

.info-container p {
  padding: var(--Spacing-4) var(--Spacing-12);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  line-height: 24px;
  border-radius: var(--Radius-MD);
}

.info-1 {
  color: var(--Highlight-Purple-500);
  background-color: var(--Highlight-Purple-50);
}

.info-2 {
  color: var(--Highlight-Pink-500);
  background-color: var(--Highlight-Pink-50);
}

.info-3 {
  color: var(--Highlight-Green-500);
  background-color: var(--Highlight-Green-50);
}

.start-content .sub-text {
  text-align: center;
  color: var(--Body);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  margin-bottom: var(--Spacing-48);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--Spacing-24);
}

.how-to-btn:hover {
  background-color: var(--Foreground-Primary);
}

.how-to-btn svg {
  fill: var(--Btn-Secondary-Text);
}

.how-to-btn svg {
  width: 24px;
  height: 24px;
}

.leaderboard {
  text-align: center;
  margin-top: 160px;
}

.top-scores-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--Spacing-6);
}

.top-scores-header img {
  width: 32px;
  height: 32px;
}

.top-scores-header h3 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-medium);
  color: var(--Heading-01);
}

.top-scores-sub-heading {
  margin-top: var(--Spacing-6);
  color: var(--Body);
}

.score-list-container {
  margin: var(--Spacing-32) auto 0;
  background-color: var(--Surface-Secondary);
  padding: var(--Spacing-24) var(--Spacing-24);
  width: 100%;
  max-width: 800px;
  border-radius: var(--Radius-L);
}

.score-list {
  list-style: none;
}

.score-list li {
  display: flex;
  justify-content: space-between;
  align-self: center;
  color: var(--Body);
  margin-bottom: var(--Spacing-24);
}

.score-list li:last-child {
  margin-bottom: var(--Spacing-0);
}

.score-list li p:first-child {
  display: inline-flex;
  align-items: center;
  gap: var(--Spacing-12);
}

.score-list li p span {
  color: var(--Title);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-lg);
}

.score-list li p i {
  font-size: var(--font-size-xl);
}

.score-list li:first-child i {
  color: var(--Spot-500-yellow);
}

.score-list li:nth-child(2) i {
  color: var(--Spot-500-purple);
}

.score-list li:last-child i {
  color: var(--Spot-500-pink);
}

.empty-board {
  margin-bottom: var(--Spacing-12);
}

.empty-board svg {
  width: 100px;
  height: 100px;
  fill: var(--Icon-Mute);
  margin: auto;
}

.empty-board p {
  color: var(--Body);
}

.footer {
  color: var(--Caption-01);
  margin-top: var(--Spacing-80);
  text-align: center;
}

#question-container {
  max-width: 900px;
  margin: 0 auto;
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--Spacing-48);
}

.question-number-and-score {
  display: flex;
  align-items: center;
  gap: var(--Spacing-64);
}

.question-number,
.score,
.time p {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xl);
  color: var(--Body);
}

.current-score,
.current-question,
.total-question,
.time-left {
  color: var(--On-Color-Inverse);
}

.time {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--Spacing-12);
  width: 300px;
}

.progress-bar {
  width: 100%;
  max-width: 300px;
  height: 8px;
  background-color: var(--Highlight-Blue-150);
  border-radius: var(--Radius-MAX);
  overflow: hidden;
}

.progress-bar.medium {
  background-color: var(--Highlight-Yellow-150);
}

.progress-bar.medium > div {
  background-color: var(--Highlight-Yellow-500);
}

.progress-bar.low {
  background-color: var(--Highlight-Red-150);
}

.progress-bar.low > div {
  background-color: var(--Highlight-Red-500);
}

.progress-fill {
  height: 100%;
  width: 100%;
  background-color: var(--Spot-500-blue);
  border-radius: var(--Radius-MAX);
  transition: width 1s linear;
}

.question-and-answer h2 {
  color: var(--Heading-02);
  letter-spacing: 0;
  text-align: center;
  font-size: var(--font-size-3xl);
}

.answer-helper-text {
  font-size: var(--font-size-sm);
  color: var(--Body);
  text-align: center;
  margin: var(--Spacing-32) auto var(--Spacing-16);
}

.answer-container {
  list-style: none;
  /* display: flex;
  align-items: center;
  gap: var(--Spacing-16);
  flex-direction: column; */
}

.answer-container li {
  margin-bottom: var(--Spacing-20);
}

.answer-btn {
  width: 100%;
  text-align: center;
}

.answer-btn.wrong {
  background-color: var(--Btn-Danger);
  color: var(--Btn-Danger-Text);
  box-shadow: 2px 6px 0px 0px var(--Red-Dark);
}

.answer-btn.correct {
  background-color: var(--Spot-500-green);
  color: var(--Btn-Primary-Text);
  box-shadow: 2px 6px 0px 0px var(--Green-Dark);
}

.answer-btn.shake {
  animation: shake 70ms ease infinite alternate;
}

.next-quiz:disabled {
  color: var(--Btn-Disabled-Text);
  background-color: var(--Btn-Primary-Disabled);
  box-shadow: none;
}

.quiz-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--Spacing-64) 0;
}

.quit-quiz-btn {
  display: inline-flex;
  align-items: center;
  gap: var(--Spacing-8);
  color: var(--Btn-Secondary-Text);
  padding: var(--Spacing-4) var(--Spacing-8);
  cursor: pointer;
  border: none;
  background: none;
  font-weight: var(--font-weight-medium);
}

.quit-quiz-btn:hover {
  text-decoration: underline;
}

dialog {
  border: none;
  background-color: var(--Surface-Modal);
  border-radius: var(--Radius-3XL);
  padding: var(--Spacing-24);
  width: calc(100% - 32px);
  max-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  transition: all 400ms ease;
}

dialog[open].show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

dialog::backdrop {
  background: var(--Overlay);
  backdrop-filter: blur(4px);
}

dialog.how-to-play-modal {
  max-width: 550px;
}

.how-to-play-modal h4 {
  font-size: var(--font-size-2xl);
  color: var(--Heading-01);
  text-align: center;
  margin-bottom: 24px;
}

.how-to-play-modal ul {
  list-style: none;
}

.how-to-play-modal ul li {
  display: flex;
  align-items: center;
  gap: var(--Spacing-16);
  margin-bottom: var(--Spacing-24);
}

.how-to-play-modal ul li p {
  color: var(--Body);
}

.how-to-play-modal ul li i {
  font-size: var(--font-size-xl);
}

.how-to-play-modal ul li p > span {
  color: var(--Title);
  font-weight: var(--font-weight-medium);
}

.how-to-play-modal li i.fa-trophy {
  color: var(--Spot-500-yellow);
}

.how-to-play-modal li i.fa-check {
  color: var(--Spot-500-blue);
}

.how-to-play-modal li i.fa-arrow-right {
  color: var(--Spot-500-green);
}

.how-to-play-modal li i.fa-clock {
  color: var(--Spot-500-purple);
}

.how-to-play-modal > div > div {
  display: flex;
  justify-content: end;
}

.quit-modal h4 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-medium);
  color: var(--Heading-01);
  text-align: center;
  margin-bottom: var(--Spacing-16);
}

.quit-modal p {
  color: var(--Body);
  text-align: center;
  margin-bottom: var(--Spacing-32);
}

.dialog-btns {
  display: flex;
  align-items: center;
  gap: var(--Spacing-24);
}

.cancel-btn,
.confirm-quit-btn {
  padding: var(--Spacing-16) var(--Spacing-24);
  font-weight: var(--font-weight-medium);
  border-radius: var(--Radius-MAX);
  cursor: pointer;
  border: none;
  transition: all 150ms ease-in-out;
  width: 100%;
  transition: 150ms ease-in-out;
}

.cancel-btn {
  background-color: var(--Btn-Secondary);
  color: var(--Btn-Secondary-Text);
  box-shadow: 2px 6px 0px 0px var(--Foreground-Secondary);
}

.confirm-quit-btn {
  background-color: var(--Btn-Danger);
  color: var(--Btn-Danger-Text);
  box-shadow: 2px 6px 0px 0px var(--Red-Dark);
}

.cancel-btn:hover {
  background-color: var(--Foreground-Primary);
}

.confirm-quit-btn:hover {
  opacity: 0.85;
}

.cancel-btn:active,
.confirm-quit-btn:active {
  scale: 0.9;
}

.result-trophy {
  width: 200px;
  height: 225px;
  margin: 0 auto var(--Spacing-24);
  animation: up-down 1500ms ease-in-out alternate infinite;
}

.result-info {
  text-align: center;
}

.result-info p {
  color: var(--Body);
}

.result-heading {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-3xl);
  color: var(--Heading-01);
}

.score-summary {
  font-size: var(--font-size-2xl);
  margin: var(--Spacing-12) 0 var(--Spacing-4);
  font-weight: var(--font-weight-regular);
}

.total-score,
.total-question-answered {
  font-weight: var(--font-weight-medium);
  color: var(--On-Color-Inverse);
}

.back-to-start-btn svg {
  width: 24px;
  height: 24px;
  fill: var(--Btn-Secondary-Text);
}

.result-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--Spacing-24);
  margin: var(--Spacing-40) 0 var(--Spacing-24);
}

.result-helper-text {
  color: var(--Body);
  font-size: var(--font-size-sm);
  text-align: center;
}

.result-footer {
  margin-top: var(--Spacing-120);
}

.result-footer p {
  color: var(--Caption-01);
  font-size: var(--font-size-sm);
  text-align: center;
}

.confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

@keyframes up-down {
  from {
    transform: translateY(-16px);
  }

  to {
    transform: translateY(16px);
  }
}

@keyframes shake {
  from {
    transform: translateX(6px);
  }

  to {
    transform: translateX(-6px);
  }
}

@media screen and (max-width: 620px) {
  main {
    margin-top: var(--Spacing-24);
  }

  h1 {
    font-size: 40px;
  }

  .info-container span {
    display: none;
  }

  .leaderboard {
    margin-top: var(--Spacing-120);
  }

  .score-list-container {
    padding: var(--Spacing-16) var(--Spacing-16);
  }

  .score-list li p:first-child span {
    display: none;
  }

  .quiz-info {
    flex-direction: column;
    gap: var(--Spacing-24);
  }

  .question-and-answer h2 {
    font-size: var(--font-size-2xl);
  }

  dialog {
    padding: var(--Spacing-16);
  }
}
